.background {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  background: url("../components/street.gif") center/cover no-repeat fixed;
  padding: 50px 20px;
}


/* Overlay */
.background::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  pointer-events: none;
}

/* Ensure children above overlay */
.background > * {
  position: relative;
  z-index: 2;
}


